.wrapper-pause {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  .pause {
    text-align: center;
    font-family: Verdana;
    display: table-cell;
    vertical-align: middle;
    background: #000000a2;

    h1 {
      font-size: 100px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}

.paused {
    display: table;
}
